<ion-view view-title="Kitchsy">
    
    <ion-slide-box style="height: 92%;">
        <ion-slide>
            <div class="box blue">
                <h1>BLUE</h1>
            </div>
        </ion-slide>
        <ion-slide>
            <div class="box yellow">
                <h1>YELLOW</h1>
            </div>
        </ion-slide>
        <ion-slide>
            <div class="box pink">
                <h1>PINK</h1>
            </div>
        </ion-slide>
    </ion-slide-box>

    <div class="bar bar-footer bar-calm">
        <button class="button button-clear" ng-click="showLogin()">Login</button>
        <button class="button button-clear" ng-click="showSignup()">Signup</button>
    </div>
</ion-view>