<ion-view view-title="Kitchsy">
    
    <ion-slide-box class="slider-custom" style="height: 94%;">
        <ion-slide style="background:url(img/food2.jpg) no-repeat center center fixed; background-size:cover;-webkit-filter: grayscale(65%);">
            <div class="box">
                <p>Turn your space in the perfect place to meet interesting people and eat wonderful food.</p>
            </div>
        </ion-slide>
        <ion-slide>
            <div class="box">
                <p>YELLOW</p>
            </div>
        </ion-slide>
        <ion-slide>
            <div class="box">
                <p>PINK</p>
            </div>
        </ion-slide>
    </ion-slide-box>

    <div class="bar bar-footer bar-calm">
        <button class="button button-clear" ng-click="showLogin()">Login</button>
        <button class="button button-clear" ng-click="showSignup()">Signup</button>
    </div>
</ion-view>