<ion-view class="booking_profile" view-title="Cook profile">

    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-ios-upload-outline" ng-click=""></button>
    </ion-nav-buttons>

    <ion-content>

        <ion-slide-box>
            <ion-slide style="background-image: url(img/food2.jpg);">
            </ion-slide>
            <ion-slide style="background-image: url(img/food3.jpg);">
            </ion-slide>
        </ion-slide-box>

        <div class="padding">
            <h3 class="booking-title dark">{{$parent.title}}</h3>
            
            <div class="avatar-pic">
                <img src="img/avatar.jpg">
            </div>
            
            <h5 class="booking-title dark">About This Menu</h5>
            <p class="soft-dark">{{$parent.menu.description}}</p>
        </div>

    </ion-content>
</ion-view>