<ion-view class="slide-background-fix" view-title="Cook profile">

    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-ios-upload-outline" ng-click=""></button>
    </ion-nav-buttons>

    <ion-content ng-class="{'bottom-sticked-thin' : $parent.userID != $parent.cookID}">

        <ion-slide-box ng-if="menu.images">
            <ion-slide ng-repeat="image in menu.images" style="background-image: url('{{image}}');">
            </ion-slide>
        </ion-slide-box>

        <div class="padding">
            <h3 class="booking-title dark">{{$parent.title}}</h3>

            <div class="cook-rating">
                {{$parent.stars}} stars
            </div>

            <div class="avatar-pic">
                <img src="img/avatar.jpg">
            </div>

            <h5 class="booking-title dark fw-medium">About This Menu</h5>

            <div class="course-box" ng-show="$parent.menu.starter.on">
                <h5 class="booking-title dark fw-bold">Starter</h5>
                <h4 class="booking-title dark">{{$parent.menu.starter.title}}</h4>
                <p class="soft-dark text-centered">{{$parent.menu.starter.description}}</p>
            </div>

            <div class="course-box" ng-show="$parent.menu.main.on">
                <h5 class="booking-title dark fw-bold">Main Course</h5>
                <h4 class="booking-title dark">{{$parent.menu.main.title}}</h4>
                <p class="soft-dark text-centered">{{$parent.menu.main.description}}</p>
            </div>

            <div class="course-box" ng-show="$parent.menu.dessert.on">
                <h5 class="booking-title dark fw-bold">Dessert</h5>
                <h4 class="booking-title dark">{{$parent.menu.dessert.title}}</h4>
                <p class="soft-dark text-centered">{{$parent.menu.dessert.description}}</p>
            </div>

            <div class="course-box" ng-show="$parent.menu.beverage.on">
                <h5 class="booking-title dark fw-bold">Beverage</h5>
                <h4 class="booking-title dark">{{$parent.menu.beverage.title}}</h4>
                <p class="soft-dark text-centered">{{$parent.menu.beverage.description}}</p>
            </div>

        </div>

    </ion-content>

    <div class="bar bar-footer bar-calm" ng-if="userID != cookID" ng-click="book()">
        <div class="title">Book Cook</div>
    </div>

</ion-view>