<ion-view view-title="Create Event">

    <ion-nav-buttons side="right">
    </ion-nav-buttons>

    <ion-content>

        <ionic-datepicker idate="currentDate" disablepreviousdates="true" disablefuturedates="false" callback="datePickerCallback" disableddates="disabledDates" title="title" mondayfirst="true">
            <div class="item" ng-click="showPlaceModal()">
                Starts
                <span class="item-note">{{$parent.event.starts}}</span>
            </div>
        </ionic-datepicker>

        <ionic-datepicker idate="currentDate" disablepreviousdates="true" disablefuturedates="false" callback="datePickerCallback" disableddates="disabledDates" title="title" mondayfirst="true">
            <div class="item" ng-click="showPlaceModal()">
                Ends
                <span class="item-note">{{$parent.event.ends}}</span>
            </div>
        </ionic-datepicker>

        <div class="item" ng-click="showRepeatModal()">
            Repeat
            <span class="item-note">{{$parent.event.repeat}}</span>
        </div>

        <div class="item item-icon-right" ng-click="showPlaceModal()">
            Place
            <i class="icon ion-navigate icon-xs"></i>
        </div>

        <div class="item" ng-click="showPlaceModal()">
            Max guests
            <span class="item-note">15</span>
        </div>

        <div class="item item-toggle">
            Need a chef?
            <label class="toggle">
                <input type="checkbox" ng-model="$parent.profile.chef">
                <div class="track">
                    <div class="handle"></div>
                </div>
            </label>
        </div>

    </ion-content>
</ion-view>