<ion-view view-title="My Booking">

    <ion-nav-buttons side="right">
    </ion-nav-buttons>

    <ion-content>

        <ion-list>
            <ion-item class="item item-avatar" collection-repeat="booking in $parent.bookings">
                <img src="img/avatar.jpg">
                <h2>{{booking.cook_name}}</h2>
                <p>{{booking.date}}</p>
                <ion-option-button class="button-assertive">
                    Delete
                </ion-option-button>
            </ion-item>
        </ion-list>

    </ion-content>
</ion-view>