<ion-view view-title="My Events">

    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
        <a class="button button-icon button-clear ion-android-add" ng-click="createEvent()"></a>
    </ion-nav-buttons>

    <ion-content>

        <ion-list can-swipe="true">
            <ion-item class="item" collection-repeat="event in $parent.events" ng-click="editEvent(event.$id)">
                {{event.$id}}
                <ion-option-button class="button-assertive" ng-click="$parent.events.$remove(event)">
                    Delete
                </ion-option-button>
            </ion-item>
        </ion-list>

    </ion-content>
</ion-view>