<ion-view view-title="Profile">

    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left" ng-show="showMenuButton"></button>
    </ion-nav-buttons>
    
    <ion-nav-buttons side="right">
    </ion-nav-buttons>

    <ion-content>
        <form id="profile-form">
            <div class="list">

                <label style="border-top:none;" class="item item-input item-stacked-label">
                    <span class="input-label">Name</span>
                    <input type="text" placeholder="John Doe" ng-model="$parent.profile.name">
                </label>

                <label class="item item-input item-stacked-label">
                    <span class="input-label">Username</span>
                    <input type="text" placeholder="johndoe" ng-model="$parent.profile.username">
                </label>

                <div class="item item-toggle">
                    I want to cook
                    <label class="toggle">
                        <input type="checkbox" ng-model="$parent.profile.isChef">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </div>

                <!--<a ng-show="$parent.profile.isChef" class="item item-icon-right" ng-href="#app/schedule_edit">
                    Schedule
                    <i class="icon ion-ios-arrow-right item-note icon-xs"></i>
                </a>
                
                <a ng-show="$parent.profile.isChef" class="item item-icon-right" ng-href="#app/menu_edit">
                    Menu
                    <i class="icon ion-ios-arrow-right item-note icon-xs"></i>
                </a>-->

            </div>
        </form>
    </ion-content>

    <div class="padding stick-to-bottom">
        <button ng-click="save()" ng-disabled="!profile.name || !profile.username" class="button button-block button-flat button-beige">
            <i class="icon ion-checkmark"></i>
        </button>
    </div>

</ion-view>