<ion-view view-title="Schedule">

    <ion-nav-buttons side="right">
    </ion-nav-buttons>

    <ion-content>

        <div collection-repeat="day in $parent.days" class="item item-toggle">
            {{day.name}}
            <label class="toggle">
                <input type="checkbox" ng-change="updateSchedule(day)" ng-model="day.on">
                <div class="track">
                    <div class="handle"></div>
                </div>
            </label>
        </div>

    </ion-content>

</ion-view>