<ion-modal-view>
    
    <ion-header-bar>
        <h3 class="title">Confirm Booking</h3>
        <button class="button button-icon button-clear ion-ios-close-empty" ng-click="hideConfirmation()">
        </button>
    </ion-header-bar>

    <ion-content>
        <div class="list">

            

        </div>
    </ion-content>
    
    <div class="padding stick-to-bottom">
        <a ng-click="book()" class="button button-block button-flat button-calm">
            <i class="icon ion-checkmark"></i>
        </a>
    </div>
    
</ion-modal-view>