<ion-modal-view>

    <ion-header-bar>
        <h3 class="title">Menu Images</h3>
        <button class="button button-icon button-clear ion-ios-trash-outline" ng-click="deleteImageConfirm()">
        </button>
    </ion-header-bar>

    <ion-content>
        <div class="row" ng-show="images.length > 0" ng-repeat="image in images" ng-if="$index % 4 === 0">
            <div class="col col-25" ng-if="$index < images.length">
                <img ng-src="{{images[$index]}}" width="100%" />
            </div>
            <div class="col col-25" ng-if="$index + 1 < images.length">
                <img ng-src="{{images[$index + 1]}}" width="100%" />
            </div>
            <div class="col col-25" ng-if="$index + 2 < images.length">
                <img ng-src="{{images[$index + 2]}}" width="100%" />
            </div>
            <div class="col col-25" ng-if="$index + 3 < images.length">
                <img ng-src="{{images[$index + 3]}}" width="100%" />
            </div>
        </div>
        
        <div style="text-align:center;" ng-show="images.length < 1">
            No images yet. {{images.length}}
        </div>
        
        <button class="button button-flat" ng-click="uploadImages()">Upload images</button>
    </ion-content>

    <div class="padding stick-to-bottom">
        <a ng-click="confirmImages()" class="button button-block button-flat button-calm">
            <i class="icon ion-checkmark"></i>
        </a>
    </div>

</ion-modal-view>