/* Empty. Add your own CSS if you like */
/* OVERWRITES */

body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'AvenirLTStd';
}

.bar-header .button {
    color: #84BDAC;
}

.button.button-calm, .bar.bar-calm {
    border-color: inherit;
    background-color: #84BDAC;
    background-image: none;
}

.right-buttons button.button.button-icon.button-clear:before {
    font-size: 1.5em;
}

.back-text .previous-title, .back-text .default-title {
    vertical-align: bottom;
    font-size: 0.8em;
}

.icon.icon-xs{
    font-size: 1em;
}

.booking_profile .scroll {
    height: 100%;
}

.booking_profile .slider {
    height: 45%;
}

.booking_profile ion-slide {
    background-repeat: no-repeat;
    background-position: center center fixed;
    background-size:cover;
    /*-webkit-filter: grayscale(65%);*/
}


/* CUSTOM */

@font-face {
    font-family: AvenirLTStd;
    src: url("../fonts/AvenirLTStd-Book.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: AvenirLTStdLight;
    src: url("../fonts/AvenirLTStd-Light.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

.button-flat {
    border: none;
}

.button-beige {
    color: #fff;
    background-color: #DFD69F;
}

.stick-to-bottom {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

.stick-to-bottom .button:last-of-type {
    margin-bottom: 0;
}

.slider-custom .box {
    position: absolute;
    top: 18%;
    left: 0;
    right: 0;
}

.slider-custom .box p {
    padding: 0 40px;
    color: #fff;
    text-align: center;
}

.angular-google-map-container { 
    height: 400px; 
}