/* Empty. Add your own CSS if you like */
/*** OVERWRITES ***/

body,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: 'AvenirLTStd';
}

.bar-header .button {
    color: #84BDAC;
}

.bar-header {
    border: 0px !important;
    border-bottom-color: transparent !important;
    background-image: none;
    border-bottom: none;
}

.button.button-calm,
.bar.bar-calm {
    border-color: inherit;
    background-color: #84BDAC;
    background-image: none;
}

.right-buttons button.button.button-icon.button-clear:before {
    font-size: 1.5em;
}

.back-text .previous-title,
.back-text .default-title {
    vertical-align: bottom;
    font-size: 0.8em;
}

.icon.icon-xs {
    font-size: 1em;
}

.slide-background-fix .scroll {
    height: 100%;
}

.slide-background-fix .slider {
    height: 45%;
}

.slide-background-fix ion-slide {
    background-repeat: no-repeat;
    background-position: center center fixed;
    background-size: cover;
    /*-webkit-filter: grayscale(65%);*/
}
/*.stable-bg{
    background-color: #edefed;
}*/

.tabs {
    /*box-shadow: 0 0 20px 10px #f8f8f8;*/
    
    background-image: none;
}

.card .item:first-child {
    border-bottom: none;
}

.card .item textarea {
    padding-left: 0;
    margin-left: 0;
}

.card {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.toggle input:checked + .track {
    border-color: #84BDAC;
    background-color: #84BDAC;
}

.dark {
    color: #565a5c;
}
/***** CUSTOM *****/
/*** General */
/*Fonts*/

@font-face {
    font-family: AvenirLTStd;
    src: url("../fonts/AvenirLTStd-Light.otf") format("opentype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: AvenirLTStd;
    src: url("../fonts/AvenirLTStd-Book.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: AvenirLTStd;
    src: url("../fonts/AvenirLTStd-Medium.otf") format("opentype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: AvenirLTStd;
    src: url("../fonts/AvenirLTStd-Heavy.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
}

.fw-light {
    font-weight: 300;
}

.fw-normal {
    font-weight: 400;
}

.fw-medium {
    font-weight: 600;
}

.fw-bold {
    font-weight: 700;
}
/*Colors & Misc*/

.shadow {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.soft-edge {
    box-shadow: 0 0 20px 10px #f8f8f8;
}

.soft-dark {
    color: #999;
}

.text-centered {
    text-align: center;
}

.bottom-sticked {
    bottom: 70px;
}

.bottom-sticked-thin {
    bottom: 50px;
}
/*Elements*/

.input-group {
    width: 100%;
    color: #84BDAC!important;
    padding: 6px 0;
    text-align: center;
    position: relative;
    display: table;
    border-collapse: separate;
    font-size: 2em;
}

.input-group label {
    font-size: 0.6em;
}

.input-group-addon {
    line-height: 1;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
    display: table-cell;
    border-color: #fff;
}

.input-group-addon:first-child {
    border-right: 1px solid #f1f1f1;
}

.input-group-addon:last-child {
    border-left: 1px solid #f1f1f1;
}

.form-control {
    padding: 6px 12px;
    display: block;
}

.input-group .form-control {
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0;
    display: table-cell;
}

.item-label {
    text-align: center;
    font-size: 1.1em;
}

.control-picker {
    margin-bottom: 20px;
}

.control-picker .padding {
    padding-top: 5px;
}

.control-picker .controls {
    background-color: #fff;
    border-radius: 4px;
}

.button-flat {
    border: none;
}

.button-beige {
    color: #fff;
    background-color: #DFD69F;
}

.stick-to-bottom {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
}

.stick-to-bottom .button:last-of-type {
    margin-bottom: 0;
}

.slider-custom .box {
    position: absolute;
    top: 18%;
    left: 0;
    right: 0;
}

.slider-custom .box p {
    padding: 0 40px;
    color: #fff;
    text-align: center;
}
/* - end general - */

.angular-google-map-container {
    height: 500px;
}

.booking-title {
    text-align: center;
}

.avatar-pic {
    width: 60px;
    margin: 0 auto;
}

.avatar-pic > img:first-child {
    border: 2px solid #fff;
    max-width: 60px;
    max-height: 60px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
/* Menu configuration view */
/* Menu offer view */

.course-box {
    margin-top: 40px;
}
/* Category Picker */

.image-list .image {
    font-size: 1.8em;
    background-repeat: no-repeat;
    background-position: center center fixed;
    background-size: cover;
    text-align: center;
    height: 200px;
    color: white;
    display: block;
    padding: 0;
    line-height: 200px;
    /*-webkit-filter: grayscale(65%);*/
}

#autocomplete {
    width: 100%;
}

.pac-container {
    pointer-events: all;
}

#menuEditView .slider {
    background-color: #f1f1f1;
    background-image: url('../img/upload.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 50px;
}

#thumbnails .selected-thumb img {
    opacity: 0.6;
}

.cook-rating {
    text-align: center;
}

.cook-list .item {
    border-top: none;
}

.cook-list .item-avatar {
    overflow: inherit!important;
}

.cook-list .item-image {
    border: 2px solid #fff;
    top: -20px!important;
}

.item-presentation {
    text-decoration: none;
    display: block;
}

.presentation-background {
    position: relative;
    background-repeat: no-repeat;
    background-position: center center fixed;
    background-size: cover;
    /* -webkit-filter: grayscale(65%); */
    height: 170px;
    width: 100%;
}

.price-tag {
    position: absolute;
    right: 0;
    bottom: 10px;
    background-color: #000;
    padding: 3px 8px;
    opacity: 0.7;
    color: white;
    font-weight: bold;
    font-size: 1.3em;
}